{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Username</th>
                <th>Company</th>
                <th>ShortBio</th>
                <th>Phone</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Github</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.shortBio }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.facebook }}</td>
                <td>{{ user.twitter }}</td>
                <td>{{ user.github }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
